<%= form_for(@subject, remote: true, :html => { :role => "form" }) do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>

<div class="row">
 <div class="col-sm-6">
  <div class="form-group">
    <%= f.label :name, :class => "control-label" %>
    <%= f.text_field :name, :class => "form-control first_input"  %>
  </div>
</div>

<div class="col-sm-6">
  <div class="form-group">
    <%= f.label :description, :class => "control-label" %>
    <%= f.text_field :description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => "control-label" %>
    <%= f.collection_select(:user_id, User.all, :id, :first_name, :class => "control-label") %>
  </div>
  <div class="form-group">
    <%= f.submit  @subject.new_record? ? "Create" : "Update", :class => "btn btn-primary" %>
  </div>
</div>
</div>
<% end %>

