<div class="container">

  <h2>Subject #<%= @subject.id %></h2>
  <h3>Nauczyciel: <%= @subject.user.firstname unless @subject.user.nil? %></h3>

  <table id class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID#</th>
      <th>Name</th>
      <th>Desciption</th>
      <th>Updated at</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody id="subjects">
    <%= render @subject %>
    </tbody>
  </table>

  <p><%= link_to 'List all subjects', subjects_path, :class => 'btn btn-sm btn-info' %></p>

  <%= render @subject.divisions %>

</div>